<nav>
<a href="/">Home Page</a>
<a href="/tasks">All Tasks</a>
<a href="/tasks/new">Create a new Task</a>
<a href="/tasks/type/Errand">Errands</a>
<a href="/tasks/type/Work">Work</a>
<a href="/tasks/type/Appointments">Appointments</a>
<a href="/tasks/type/Hobbies">Hobbies</a>
<a href="/tasks/type/none">Other</a>
</nav>