<nav>
<a href="/">Home</a>
<a href="/tasks">All Tasks</a>
<a href="/tasks/new">#New</a>
<a href="/tasks/type/Errand">#Errands</a>
<a href="/tasks/type/Work">#Work</a>
<a href="/tasks/type/Appointments">#Appointments</a>
<a href="/tasks/type/Hobbies">#Hobbies</a>
<a href="/tasks/type/Other">#Other</a>
</nav>