<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home Page</title>
</head>
<body>
    
    <main class="home">
        <h1>Task Manager App:</h1>
        <h3></h3>
    <a href="/"></a>
       
    </main>
    <div class="home-nav">
        <%- include('./partials/nav.ejs') %>
     </div>
</body>
</html>